/* NavBar */
@media (min-width: 769px) and (max-width: 1024px) {
    .navbar {
        padding: 10px 20px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        width: auto;
        position: static;
        box-shadow: none;
        background-color: transparent;
        padding-right: 0px;
    }

    .logo img {
        padding-top: 15px;
    }

    .nav-links li {
        margin-bottom: 0;
        text-align: center;
    }

    .contact-button {
        display: inline-block;
    }

    .hamburger {
        display: none;
    }
}

/* Hero and Next Section */
/* Tablet Responsive Styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.125rem;
    }

    .next-section-content {
        flex-direction: column;
    }

    .next-section .community-image,
    .next-section-text {
        width: 100%;
    }

    .next-section h2 {
        font-size: 1.75rem;
    }

    .next-section p {
        font-size: 1.125rem;
    }
}
